<ion-view class="tutorial-view">
    <ion-slide-box>
        <!-- page 1 -->
        <ion-slide class="page-1">
            <div class="app-logo">
                <img src="img/intro-logo.svg">
            </div>
            <div class="tutor-image">
            </div>
            <div class="tutor-title">
                <h1>{{ 'LOCATES' | translate }}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim nunc sed luctus mattis. Curabitur mi mi, faucibus id volutpat ac, pellentesque ut velit. Aenean volutpat scelerisque sagittis.
                </p>
            </div>
            <div class="start">
                <button class="button button-small button-outline button-positive" ng-click="doStart()">{{ 'START' | translate }}</button>
            </div>
        </ion-slide>

        <!-- page 2 -->
        <ion-slide class="page-2">
            <div class="app-logo">
                <img src="img/intro-logo.svg">
            </div>
            <div class="tutor-image">
            </div>
            <div class="tutor-title">
                <h1>{{ 'FAIL' | translate }}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim nunc sed luctus mattis. Curabitur mi mi, faucibus id volutpat ac, pellentesque ut velit. Aenean volutpat scelerisque sagittis.
                </p>
            </div>
            <div class="start">
                <button class="button button-small button-outline button-positive" ng-click="doStart()">{{ 'START' | translate }}</button>
            </div>
        </ion-slide>

        <!-- page 3 -->
        <ion-slide class="page-3">
            <div class="app-logo">
                <img src="img/intro-logo.svg">
            </div>
            <div class="tutor-image">
            </div>
            <div class="tutor-title">
                <h1>{{ 'SHARE' | translate }}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim nunc sed luctus mattis. Curabitur mi mi, faucibus id volutpat ac, pellentesque ut velit. Aenean volutpat scelerisque sagittis.
                </p>
            </div>
            <div class="start">
                <button class="button button-small button-outline button-positive" ng-click="doStart()">{{ 'START' | translate }}</button>
            </div>
        </ion-slide>

        <!-- page 4 -->
        <ion-slide class="page-4">
            <div class="app-logo">
                <img src="img/intro-logo.svg">
            </div>
            <div class="tutor-image">
            </div>
            <div class="tutor-title">
                <h1>{{ 'NOTIFICATIONS' | translate }}</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim nunc sed luctus mattis. Curabitur mi mi, faucibus id volutpat ac, pellentesque ut velit. Aenean volutpat scelerisque sagittis.
                </p>
            </div>
            <div class="start">
                <button class="button button-small button-outline button-positive" ng-click="doStart()">{{ 'START' | translate }}</button>
            </div>
        </ion-slide>

    </ion-slide-box>

</ion-view>