<ion-view class="auth signup-view">
    <ion-content>
        <div class="app-logo">
            <img src="img/auth-logo.svg">
        </div>

        <div class="description">
            {{ 'MANUAL_REGISTRATION' | translate }}
        </div>

        <div class="auth-form">
            <form name="authorizationForm" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="input-icon">
                            <label class="item item-icon-left item-input">
                                <i class="icon ion-ios-person-outline"></i>
                                <input type="text" placeholder="{{ 'NAME' | translate }}" ng-model="auth.name" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-icon">
                            <label class="item item-icon-left item-input">
                                <i class="icon ion-ios-person-outline"></i>
                                <input type="text" placeholder="{{ 'LAST_NAME' | translate }}" ng-model="auth.lastname" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-icon">
                            <label class="item item-icon-left item-input">
                                <i class="icon ion-ios-telephone-outline"></i>
                                <input type="tel" placeholder="{{ 'TELEPHONE' | translate }}" ng-model="auth.phone" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-icon">
                            <label class="item item-icon-left item-input">
                                <i class="icon ion-ios-email-outline"></i>
                                <input type="email" placeholder="{{ 'EMAIL' | translate }}" ng-model="auth.email" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="input-icon">
                            <label class="item item-icon-left item-input">
                                <i class="icon ion-ios-locked-outline"></i>
                                <input type="password" placeholder=" {{ 'PASSWORD' | translate }}" ng-model="auth.password" required>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="button button-full button-light button-submit" ng-click="doRegister()">Register</button>
                    </div>
                </div>

            </form>
        </div>

        <div class="social">
            {{ 'RESISTER_SOCIAL' | translate }}

            <div class="buttons">
                <button class="button button-round" ng-click="doFacebookLogin()">
                    <i class="icon ion-social-facebook"></i>
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
